:root {
	--bg-primary: #303952;
	--bg-opaque: #404c6b;
	--bg-secondary: #3dc1d3;
}


/* NODE */
.full-node text {
	text-anchor: middle;
	fill: var(--bg-primary);
	font-size: 18px;
	pointer-events: none;
	user-select: none;
}

.full-node .node {
	position: relative;
	stroke: var(--bg-primary);
	stroke-width: 3px;
	fill: #fff;
}

.full-node .node.drawing {
	cursor: grab;
}

.full-node .node.selecting {
	cursor: pointer;
}

.full-node .node.deleting {
	cursor: crosshair;
}

.full-node .node.grabbing {
	cursor: grabbing;
}


/* EDGE */
.full-edge {
	text-anchor: middle;
	fill: var(--bg-primary);
	font-size: 14px;
}

.full-edge text {
	user-select: none;
}

.full-edge .edge {
	stroke: var(--bg-secondary);
	stroke-width: 3px;
	fill: none;
}

.full-edge .edge.selecting {
	cursor: crosshair;
}